.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.2rem;
  line-height: 1.5;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
    max-width: 80%;
  }
}
